<google-map
  class="google-map"
  height="100vh"
  width="100vw"
  [center]="center"
  [options]="options"
>
  <ng-template ngIf="data | async"
    ><map-marker
      *ngFor="
        let marker of markerArr | filter: filterType:battery;
        let i = index
      "
      [position]="marker.position"
      [icon]="
        marker.discriminator === 'vehicle'
          ? marker.status === 'AVAILABLE'
            ? './assets/green.png'
            : './assets/red.png'
          : './assets/marker.png'
      "
      #markerEl="mapMarker"
      (mapClick)="openInfo(markerEl, i)"
    ></map-marker>
    <map-info-window [innerHtml]="info"></map-info-window>
  </ng-template>
</google-map>
<app-filter
  class="filter-wrapper"
  (filterArgs)="redrawMap($event)"
></app-filter>
